In [110]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
a = "hi! Everyone, I'm kim"

In [6]:
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [8]:
print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
HI! eVERYONE, i'M KIM

### `.join(iterable)` > 반복 가능함

특정한 문자열로 만들어 반환합니다.

In [9]:
'!'.join('졸려')

'졸!려'

In [10]:
''.join(['hi','everyone'])

'hieveryone'

In [11]:
' '.join(['hi','everyone'])

'hi everyone'

In [16]:
a=[1,2,3]
print(type(a[0]))
# ''.join(map(str,a)) # a라는 함수의 원소마다 적용되어서 리턴한다.
# print(type(a[0])

<class 'int'>

### `.replace(old, new[, count])` 이전 것을 새 것으로 바꾸는데, 쓰려면 카운트 값을 넣어라.

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [17]:
'wow'.replace('o', '_')

'w_w'

In [18]:
'wooooooow'.replace('o', '_')

'w__w'

In [19]:
'wooooooow'.replace('o', '_', 2)

'w__ooooow'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [20]:
'               woow'.strip()

'woow'

In [21]:
'               woow                 '.strip()

'woow'

In [23]:
'               woow                 '.lstrip()

'woow                 '

In [24]:
'               woow                 '.rstrip()

'               woow'

In [25]:
'               woow!\n'.rstrip() # 개행문자도 지워버림.

'               woow!'

In [26]:
'hihihihi'.strip('hi') # 특정 단어를 지워버림.

''

In [30]:
'hibabababahihihihibababahi'.strip('hi') # 특정 단어 양 끝을 지워버림. 특정 단어가 바깥에서부터
# 그 단어가 다 사라질 때까지, 단 다른 단어가 타켓팅되면 끝남.

'babababahihihihibababa'

In [27]:
'a_a'.strip('a') # 양쪽 끝을 지우는 순서임.

'_'

## 탐색 및 검증 find 와 index 의 차이점을 알도록 하자.

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [31]:
'apple'.find('a')

0

In [32]:
'apple'.find('p')

1

In [33]:
'apple'.find('d')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [37]:
word='apple'
index=[]
for i in word:
    if apple[i]=='p'
    index.append(i)

SyntaxError: invalid syntax (<ipython-input-37-8cd9db6e0abd>, line 4)

In [34]:
'apple'.index('p')

1

In [35]:
'apple'.index('d')

ValueError: substring not found

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

In [40]:
'aaasdf2pple'.isalpha()

False

In [41]:
'123'.isdecimal()

True

In [45]:
a='12'
if a.isdecimal():
    a=int(a)
    print(type(a))
else:
    print('아니다')

<class 'int'>

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [116]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [117]:
inputs = input().split()
print(inputs)

5 3 1 2 5
['5', '3', '1', '2', '5']

In [119]:
inputs = list(map(int,input().split()))
print(inputs)

5 3 1 2 5
[5, 3, 1, 2, 5]

## 문자열 뒤집기

In [58]:
'123'[::-1]

'321'

In [59]:
''.join(reversed('123'))

'321'

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [60]:
cafe = ['x','y','z']

In [62]:
cafe.append('a')
print(cafe)

['x', 'y', 'z', 'a', 'a']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [65]:
cafe.extend(['ediya','빽다방'])
print(cafe)

['x', 'y', 'z', 'a', 'a', 'ediya', '빽다방', 'ediya', '빽다방']

In [67]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [66]:
cafe.extend('ediya') # extend는 어떤 형식을 하냐에 따라서 다르게 결과가 나온다.
print(cafe)

['x', 'y', 'z', 'a', 'a', 'ediya', '빽다방', 'ediya', '빽다방', 'e', 'd', 'i', 'y', 'a']

In [68]:
cafe.append(['a','b']) # extend는 어떤 형식을 하냐에 따라서 다르게 결과가 나온다.
print(cafe)

['x', 'y', 'z', 'a', 'a', 'ediya', '빽다방', 'ediya', '빽다방', 'e', 'd', 'i', 'y', 'a', ['a', 'b']]

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [80]:
fruits = ['apple', 'banana']

In [81]:
fruits.insert(0, 'pineapple')

In [82]:
print(fruits)

['pineapple', 'apple', 'banana']

In [83]:
['melon'] + fruits

['melon', 'pineapple', 'apple', 'banana']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [84]:
fruits.remove('apple')
print(fruits)

['pineapple', 'banana']

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [85]:
print(fruits)
fruits.pop()

['pineapple', 'banana']

'banana'

In [88]:
fruits.append('melon')
fruits.append('banana')
print(fruits)

['pineapple', 'melon', 'banana']

In [89]:
fruits.pop(2)

'banana'

In [90]:
fruits.pop(0)

'pineapple'

In [91]:
fruits

['melon']

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [93]:
a=[1,2,3,4,5, 5, 5, 5] # 같은 값을 여러번 주면,첫번째 위치가 나온다.
a.index(5)

4

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [94]:
a=[1,2,3,4,1]
a.count(1)

2

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [95]:
print(a)
a.sort()
print(a) # 오름차순

[1, 2, 3, 4, 1]
[1, 1, 2, 3, 4]

In [96]:
a.sort(reverse=True) #내림차순
print(a)

[4, 3, 2, 1, 1]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [97]:
a=[2,3,5]
list(reversed(a))

[5, 3, 2]

## 복사

In [10]:
# 리스트 복사를 해봅시다. # 리스트를 복사한다는 것은 id를 공유한다는 의미인듯.
a=[1,2,3]
b=a
print(b)

[1, 2, 3]

In [106]:
# b의 값을 바꾸고 a를 출력해봅시다.
b[0]=5
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [107]:
# 실제로 같은지 확인해봅시다.
print(b)

print(id(a))
print(id(b))

[5, 2, 3]
1746936602376
1746936602376

In [108]:
# 숫자를 확인해봅시다.
a = 1004
b=a
b=100

print(a)

1004

In [109]:
# 숫자를 확인해봅시다.
a = 1004
print(id(a))
a=12325234
print(id(a))

1746936603536
1746936603632

In [ ]:
# 딕셔너리도 확인해봅시다.################################################################

In [111]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [112]:
# 복사 예시
a=[1,2,3]
b=a[:]
print(id(a))
print(id(b))# 이렇게 하면 a와 b 자체는 서로 별개의 것으로 처리됨.

1746936621896
1746936620552

In [114]:
# 복사 예시2 # 리스트를 단순히 이퀄 처리를 하면 원본과 복사복이 내용을 공유함으로 수정에 유의해야 한다.
# 따로 관리하기 위해서는 위의 방법이나 이 방법을 써야 한다.
a=[1,2,3]
b=list(a)
print(id(a))
print(id(b))

1746935733064
1746936576904

In [ ]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [121]:
# 얕은 복사 예시
import copy
a = [1,2,3]
b = copy.copy(a)
print(id(a))
print(id(b))

1746936576200
1746936575496

In [124]:
# 얕은 복사 관련, 원본이 안바뀌어야 하는데 copy.copy와 copy.deepcopy 와의 차이점이라고 생각하면 됩니다.
a = [[1,2],2,3]
b=a
b[0][0]=5
print(a)

[[5, 2], 2, 3]

In [122]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [125]:
# 깊은 복사 예시
import copy
a = [[1,2],2,3]
b = copy.deepcopy(a)
b[0][0]=5
print(a)

[[1, 2], 2, 3]

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [126]:
a.clear()

In [127]:
print(a)

[]

In [128]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [139]:
even_list = []
cubic_list = []

for i in range(1,11):
    if i % 2==0:
        even_list.append(i)
    if i:
        cubic_list.append(i**3)
print(even_list)
print(cubic_list)

[2, 4, 6, 8, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [143]:
even_list = [x for x in range(1,11) if x % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

In [11]:
even_list = [x*2 for x in range(1,6)] # 안에 넣었을 때에만 가능함. [] {}
print(even_list)
cubic_list = [x**3 for x in range(1,11)]
print(cubic_list)

[2, 4, 6, 8, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [158]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
a= [(x, y) for x in girls for y in boys]
print(a)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [165]:
num = range(1,50)

a= [(x, y, z) for x in num for y in num for z in num if x**2+y**2==z**2 and (x<y<z)]
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [175]:
words = 'Life is too short, you need python!'
mo=['a','e','i','o','u']

result= [x for x in words if x not in mo]

print(''.join(result))

Lf s t shrt, y nd pythn!

In [177]:
words = 'Life is too short, you need python!'
mo='aeiou'

result= [x for x in words if x not in mo] # 문자열에서도 검사가 가능하다.

print(''.join(result))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)